In [ ]:
!pip3 install pandas

## Importando e apresentando a base de dados

In [40]:
import pandas as pd

table_car_information = pd.read_csv('sport_car_price.csv')

display(table_car_information)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"
...,...,...,...,...,...,...,...,...
1002,Koenigsegg,Jesko,2022,5,1280,1106,2.5,"3,000,000"
1003,Lotus,Evija,2021,Electric Motor,1972,1254,2,"2,000,000"
1004,McLaren,Senna,2021,4,789,590,2.7,"1,000,000"
1005,Pagani,Huayra,2021,6,764,738,3,"2,600,000"
1006,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"

## Informações gerais
- Verificando quantas linhas tem a tabela de maneira geral
- Existência de valores vazios e que necessitem ser tratados

In [41]:
display(table_car_information.info())

print(table_car_information.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   object
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB

None

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              3
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

## Removendo registros com valores vazios/nulos

In [42]:
table_car_information_clean = table_car_information.dropna()

# apresentando o tamanho do dataset antes e depois de remover registros nulos
print(f'Tamanho antes de retirar registros nulos do dataset: {table_car_information.shape}')
print(f'Tamanho depois de retirar registros nulos do dataset: {table_car_information_clean.shape}')

display(table_car_information_clean.head())

Tamanho antes de retirar registros nulos do dataset: (1007, 8)
Tamanho depois de retirar registros nulos do dataset: (995, 8)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"

## qual carro da marca porsche tem maior Horsepower?

In [59]:
table_porsche = table_car_information_clean.loc[table_car_information_clean['Car Make'] == 'Porsche', :]
table_porsche = table_porsche.loc[table_porsche['Year'] == 2022, :]


table_porsche_high_horsepower = table_porsche[['Car Model', 'Year', 'Horsepower', 'Torque (lb-ft)']].sort_values(by='Horsepower', ascending=False)

display(table_porsche_high_horsepower)

            Car Model  Year Horsepower Torque (lb-ft)
717    Taycan Turbo S  2022        750            774
543    Taycan Turbo S  2022        750            774
743       911 Turbo S  2022        640            590
836  Panamera Turbo S  2022        630            604
474  Panamera Turbo S  2022        630            604
727  Panamera Turbo S  2022        630            604
132  Panamera Turbo S  2022        620            604
258    Panamera Turbo  2022        620            604
299            Taycan  2022        616            774
37          Taycan 4S  2022        562            479
407         Taycan 4S  2022        482            472
843            Taycan  2022        469            263
508        Cayman GT4  2022        414            309
550        Cayman GT4  2022        414            309
574        Cayman GT4  2022        414            309
351        Cayman GT4  2022        414            309
27         Cayman GT4  2022        414            309
289    718 Cayman GT4  2022        414            309
267        Cayman GT4  2022        414            309
167        Cayman GT4  2022        414            309
797    718 Cayman GT4  2022        414            309
121        Cayman GT4  2022        414            309
825        Cayman GT4  2022        414            309
96     718 Cayman GT4  2022        414            309
193            Taycan  2022        402            254
0                 911  2022        379            331
971               911  2022        379            331
137            Cayman  2022        365            309
603          Panamera  2022        325            331
914          Panamera  2022        325            331
674          Panamera  2022        325            331
853          Panamera  2022        325            331
74           Panamera  2022        325            331
204          Panamera  2022        325            332
147          Panamera  2022        325            331
917        718 Cayman  2022        300            280
899            Cayman  2022        300            280
81         718 Cayman  2022        300            280
102        718 Cayman  2022        300            280
458        718 Cayman  2022        300            280
770       718 Boxster  2022        300            280
452       718 Boxster  2022        300            280
440            Cayman  2022        300            280
714            Cayman  2022        300            280
704           Boxster  2022        300            280
664            Cayman  2022        300            280
645       718 Boxster  2022        300            280
590        718 Cayman  2022        300            280
733        718 Cayman  2022        300            280